<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% block stylesheets %}{% endblock %}
    <title>{% block title %}Welcome!{% endblock %}</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-blue bg-blue">
    <a class="navbar-brand" href="{{ path('homepage') }}">GLM.fr</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {% if is_granted('ROLE_USER') %}
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link active" href="{{ path('listing_index') }}"
                       title="{{ 'app.my_listings'|trans(domain='app') }}">
                        {{ 'app.my_listings'|trans(domain='app') }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('listing_create') }}"
                       title="{{ 'app.create_listing'|trans(domain='app') }}">
                        {{ 'app.create_listing'|trans(domain='app') }}
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="navbar-link">
                    <a class="nav-link" href="{{ path('profile') }}"
                       title="{{ 'app.welcome'|trans({'%username%':app.user.username}, 'app') }}">
                        {{ 'app.welcome'|trans({'%username%':app.user.username}, 'app') }}
                    </a>
                </li>

            </ul>
        </div>
    {% endif %}
</nav>
<div class="container-fluid mt-3">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6">
            {% for label, messages in app.session.flashbag.all %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message|trans(domain = 'flashbag') }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="{{ asset('build/runtime.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>