{% extends 'base.html.twig' %}

{% block title %}
    {{ 'app.log_in'|trans(domain='app') }}
{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6">
            {% if error and error is defined %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            <div class="card text-center">
                <form method="post">
                    <div class="card-header text-left">
                        <h4>
                            {{ 'app.log_in'|trans(domain='app') }}
                        </h4>
                    </div>
                    <div class="card-body">

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="username">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control"
                                   placeholder="{{ 'user.profile.username'|trans(domain='user') }}" aria-describedby="username"
                                   aria-label="{{ 'user.profile.username'|trans(domain='user') }}" value="{{ last_username }}"
                                   name="username" id="inputUsername">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="password">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control"
                                   placeholder="{{ 'user.profile.password'|trans(domain='user') }}"
                                   aria-label="{{ 'user.profile.password'|trans(domain='user') }}" aria-describedby="password"
                                   name="password" id="inputPassword">
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="input-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           name="_remember_me"> {{ 'app.remember_me'|trans(domain='app') }}
                                </label>
                            </div>
                        </div>


                    </div>
                    <div class="card-footer text-right">
                        <button class="btn btn-primary" type="submit">
                            {{ 'app.log_in'|trans(domain='app') }}
                        </button>
                        <a href="{{ path('register') }}" class="btn btn-success">
                            {{ 'app.sign_up'|trans(domain='app') }}
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
