{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6">
            <div class="card">
                {{ form_start(registrationForm) }}
                <div class="card-header text-left">
                    <h4>
                        {{ 'app.sign_up'|trans(domain='app') }}
                    </h4>
                </div>
                <div class="card-body">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                                <span class="input-group-text" id="username">
                                    <i class="fa fa-user"></i>
                                </span>
                        </div>
                        {{ form_widget(registrationForm.username, {'attr' : {'class' : 'form-control', 'placeholder' : 'user.profile.username'}}) }}
                    </div>
                    <div class="form-error">
                        {{ form_errors(registrationForm.username) }}
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                                <span class="input-group-text" id="mail">
                                    <i class="fa fa-envelope"></i>
                                </span>
                        </div>
                        {{ form_widget(registrationForm.email, {'attr' : {'class' : 'form-control', 'placeholder' : 'user.profile.mail'}}) }}
                        <div class="invalid-tooltip">
                            {{ form_errors(registrationForm.email) }}
                        </div>
                    </div>
                    <div class="form-error">
                        {{ form_errors(registrationForm.email) }}
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                                <span class="input-group-text" id="mail">
                                    <i class="fa fa-lock"></i>
                                </span>
                        </div>
                        {{ form_widget(registrationForm.password.first, {'attr' : {'class' : 'form-control', 'placeholder' : 'user.profile.password'}}) }}
                        {{ form_widget(registrationForm.password.second, {'attr' : {'class' : 'form-control', 'placeholder' : 'user.profile.password_confirm'}}) }}
                    </div>
                    <div class="form-error">
                        {{ form_errors(registrationForm.password.first) }}
                    </div>
                </div>

                <div class="card-footer text-right">
                    <a href="{{ path('login') }}" class="btn">{{ 'app.cancel'|trans(domain='app') }}</a>
                    <button class="btn btn-success">{{ 'app.sign_up'|trans(domain='app') }}</button>
                </div>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}