{% extends 'base.html.twig' %}

{% block title %}
    {{ 'user.profile.title'|trans({'%username%' : app.user.username}, 'user') }}
{% endblock %}

{% block body %}
    <ul class="list-group">
        <li class="list-group-item">
            <object type="image/svg+xml" data="{{ asset('build/assets/images/svg/person.svg') }}" class="svg-content"></object>
            {{ user.username }}
        </li>
        <li class="list-group-item">
            <object type="image/svg+xml" data="{{ asset('build/assets/images/svg/envelope-closed.svg') }}" class="svg-content"></object>
            {{ user.email }}</li>
        <li class="list-group-item">
            <a href="{{ path('logout') }}">{{ 'user.profile.logout'|trans(domain='user') }}</a>
        </li>
    </ul>
{% endblock %}