.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

ul.no-style {
    list-style: none;
    padding: 0;
}

ul.no-style li {
    margin: 0;
    padding: 0;
}

.dash-bordered {
    opacity: 0.7;
    border: 3px dashed #F3A32F;
    border-radius: 4px;
    padding: 15px 0;
}

.score{
    color:whitesmoke !important;
    font-size: 12pt !important;
}