.bg-blue {
    background-color: #202C59;
}

.bg-whitesmoke{
    color: whitesmoke;
}

.navbar-blue, .navbar-blue a, .svg-content-header {
    color: whitesmoke;
}

.navbar-blue .navbar-toggler {
    border-color: whitesmoke;
}

.svg-content-header {
    width: 24px;
}