{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
{% endblock %}
{% block body %}
    <div class="row justify-content-center">
        {% for listing in listings %}
            <div class="col-sm-12 mb-3">

                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">{{ listing.name }}</h5>
                        {% if listing.items is empty %}
                            <p class="card-text">{{ 'listing.is_empty'|trans(domain = 'listing') }}</p>
                        {% endif %}
                    </div>
                    <ul class="list-group list-group-flush">
                        {% if listing.items is not empty %}
                            {% for item in listing.items %}

                                {% if item.score == 0 %}
                                    {% set class = '' %}
                                {% elseif item.score < 50 %}
                                    {% set class = 'danger' %}
                                {% elseif item.score >= 50 and item.score < 60 %}
                                    {% set class = 'warning' %}
                                {% else %}
                                        {% set class = 'success' %}
                                {% endif %}

                                <li class="list-group-item list-group-item-{{ class }} ">
                                    {{ item.name }}
                                    <span class="badge badge-primary">{{ item.platform.name ?? '' }}</span>

                                    <a href="{{ path('item_delete', {'id' : item.id}) }}"
                                       class="btn btn-danger btn-circle float-right"
                                       alt="{{ 'listing.delete'|trans(domain = 'listing') }}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                    <span class="{{ class }} float-right">{{ item.score }}</span>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                    <div class="card-body text-right">

                        <a href="{{ path('item_create',{'listing_id' : listing.id}) }}"
                           class="btn btn-success btn-circle pull-right">
                            <i class="fas fa-plus"></i>
                        </a>
                        <a href="{{ path('listing_edit', {'id' : listing.id}) }}"
                           class="btn btn-primary btn-circle"
                           alt="{{ 'listing.edit'|trans(domain = 'listing') }}">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="{{ path('listing_delete', {'id' : listing.id}) }}"
                           class="btn btn-danger btn-circle"
                           alt="{{ 'listing.delete'|trans(domain = 'listing') }}">
                            <i class="fas fa-trash"></i>
                        </a>

                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-sm-12">
                <p class="lead text-center dash-bordered">
                    {{ 'listing.is_empty'|trans(domain = 'listing') }}
                    <a href="{{ path('listing_create') }}">{{ 'listing.create_link_text'|trans(domain = 'listing') }}</a>
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
