{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(create_form,{ 'attr': {'autocomplete': 'off'} }) }}
    <div class="dropdown">
        <div class="input-group mb-3">
            {{ form_widget(create_form.name, {'attr' : {'class' : 'form-control', 'placeholder' : 'item.name', 'aria-describedby' : 'button-addon2', 'data-toggle' : 'dropdown'} }) }}
            <div class="input-group-append">
                {{ form_widget(create_form.Save, {'attr' : {'class' : 'btn btn-outline-secondary'}}) }}
            </div>
            <div id="search-result" class="dropdown-menu w-100"></div>
        </div>

    </div>

    {{ form_end(create_form) }}

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/api_rest_call.js') }}"></script>
    <script src="{{ asset('build/bootbox.js') }}"></script>
{% endblock %}